[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
requests = "*"
xkcd = "*"
pytest = "*"
pytest-randomly = "*"
djlint = "*"
pytest-html = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
test = "python -m pytest -vvv ."
start_app = "python app.py"