[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
requests = "*"
xkcd = "*"
pandas = "*"
beautifulsoup4 = "*"
gunicorn = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-randomly = "*"
djlint = "*"
pytest-html = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
test = "python -m pytest -vvv ."
dev_server = "python project.py --debug"
deploy = "gunicorn project:main"