{% extends "base.html" %}
{% block title %}
    Homepage
{% endblock title %}
{% block content %}
    <div class="columns">
        <div class="column" id="text-column">
            <h1 class="title nothing-text is-spaced">There's nothing here!</h1>
            <h2 class="subtitle nothing-text is-spaced">Enjoy a sleeping cat instead.</h2>
        </div>
        <div class="column" id="sleeping-cat">
            <img src="/img/sleeping-cat.gif"
                 alt="A sleeping cat."
                 width="50%"
                 height="50%"/>
        </div>
    </div>
{% endblock content %}
